
<div class="input">
  <%= f.label 'Name: ' %>
  <%= f.text_field :name %>
</div>

<div class="input">
  <%= f.label 'Tickets: ' %>
  <%= f.number_field :tickets %>
</div>

<div class="input">
  <%= f.label 'Nausea Rating: ' %>
  <%= f.number_field :nausea_rating %>
</div>

<div class="input">
  <%= f.label 'Happiness Rating: ' %>
  <%= f.number_field :happiness_rating %>
</div>

<div class="input">
  <%= f.label 'Minimum Height: ' %>
  <%= f.number_field :min_height %>
</div>
