<div class="name">
  Name: <%= attraction.name %>
</div>
<div class="tickets">
  Tickets: <%= attraction.tickets %>
</div>
<div class="nausea">
  Nausea_rating: <%= attraction.nausea_rating %>
</div>
<div class="happiness">
  Happiness_rating: <%= attraction.happiness_rating %>
</div>
<div class="height">
  Min_height: <%= attraction.min_height %>
</div>